*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pointer{
  cursor: pointer;
}
.Boxx_1
{
  width: 50%;
}
.Boxx_13
{
  width: 70%;
}
.border-green
{
  border: 1px solid green !important;
}
.border-red
{
  border: 1px solid red !important;
}

/* navbar */
.main.nav-bar-hero{
display: flex;
justify-content: space-between;
align-items: center;
padding: 22px 28px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
margin-bottom: 37px;

}
.main.nav-bar-hero .nav-logo {
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 20px;
}
.nav-menu
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input-group-1  span
{
  border-right: none;
}
.input-group-1  input{
  border-left: none;

}
.input-group-1  input:focus{
  box-shadow: none;
  border-color: #e2e8f0;
}
.input-group-1  input::placeholder{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: rgba(0, 0, 0, 0.2);
font-feature-settings: 'ss01' on, 'cv01' on, 'cv11' on;
}
.Top-heading
{
  margin-bottom: 34px;
}
.Top-heading h1
{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 8px;
}
.Top-heading p{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
margin: 0;
}
/* main-container */

.main-container
{
  padding: 33px 29px;
  box-sizing: border-box;
  background: #FEFEFE;
border: 1px solid #E3E3E3;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.06);
border-radius: 21px;
}
.client-heading
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.client-heading p{
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
}
.client-heading span{
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #0B9E2C;
}
.jobPosting
{display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  background: #FFFFFF;
border-bottom: 1px solid #C0C0C0;
border-radius: 5px;

}
.jobPosting:hover{
  background-color: #f3f3f3;
}
.jobPosting:hover p:nth-child(1){
  text-decoration: underline;
  color: #0B9E2C;
}
.jobPosting p:nth-child(1)
{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
margin-bottom: 8px;
}
.jobPosting p:nth-child(2)
{
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 10px;
margin: 0;
}
.MenuOption{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  /* border: 0.5px solid #0B9E2C; */
  /* background-color: #0B9E2C; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Right-GreenBTn
{
  background: #59D76D;
border: 1px solid #000000;
border-radius: 100px;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 62px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
margin-bottom: 24px;
}
.UserSetting
{
  background: #F2F2F2;
border: 1px solid #E3E3E3;
border-radius: 13px;
display: flex;
align-items: flex-start;
padding: 9px 18px;
}
.User-image{
  background: #FFFFFF;
border: 1px solid #CECECE;
width: 60px;
border-radius: 100%;
overflow: hidden;
}
.User-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.UserSetting p{
  margin: 0;
}
.UserSetting p:nth-child(1)
{
  margin-bottom: 8px;
}

/* Post-JobDiv */
.Post-JobDiv
{
background: #FEFEFE;
border: 1px solid #E3E3E3;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.06);
border-radius: 21px;
padding: 33px 24px;
}
.Post-JobDiv h1{
  font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */

display: flex;
align-items: center;
text-align: center;
margin-bottom: 36px;
color: #000000;
}
.Post-JobDiv h4{
  text-transform: capitalize;
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
margin-bottom: 16px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}
.Post-JobDiv p {
  font-style: normal;
  text-transform: capitalize;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;
text-align: center;

color: #000000;

}
.Post-JobDiv .titles-post label{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #000000;
margin-bottom: 15px;
}
.Post-JobDiv .titles-post{
   margin-bottom: 24px;
}
.Post-JobDiv .titles-post input, .Post-JobDiv .titles-post  textarea, input, textarea{
  background: #FEFEFE;
border: 1px solid #E3E3E3;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.06);
border-radius: 5px;
resize: none;

}
.Post-JobDiv .titles-post input::placeholder,.Post-JobDiv .titles-post textarea::placeholder{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #858585;

}
.uploadinput 
{
  border: 1px solid;
  position: relative;
  background: #FEFEFE;
  border: 1px solid #E3E3E3;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  resize: none;
  height: 46px;
}

.uploadinput::before{
  content: attr(data-text);
  position: absolute;
  top: 14px;
  left: 50px;
  font-size: 14px;
  font-weight: 400;
}
.uploadinput svg{
  position: absolute;
  top: 5px;
  left: 10px;


}
.uploadinput input{
  opacity: 1;
  width: 100%;
  height: 100%;
}
.uploadinput input[type="file"]
{
  display: none;
}.post-buttons
{
  background: #59D76D;
border: 1px solid #000000;
border-radius: 100px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
width: fit-content;
padding: 12px 60px 12px 62px;
margin-top: 45px;
}